**Fuction related to(in-Build) in list**

In [ ]:
# 1.len(List)
x = [1,2,3,"Om Sai",5]
y = [6,7,"Shri Swami Samarth",9]

print("Lenth of x:",len(x))
print("Lenth of y:",len(y))


# 2.max(list)
x = [2,4,3]
y = [39,59,100,101]

print("Max of x:",max(x))
print("Max of y:",max(y))

# 3.min(list)
x = [1,0,5]
y = [99,999,9999]

print("Min of x:",min(x))
print("Min of y:",min(y))

# 4.Reverse(list)
x = ["SHRI","SWAMI","SAMARTH"]
x.reverse()

print("List of reverse:",x)


# 5.Remove(list)
x = [1234,"Om","Shanti",89]
x.remove(1234)

print("Remove the x",x)

Lenth of x: 5
Lenth of y: 4
Max of x: 4
Max of y: 101
Min of x: 0
Min of y: 99
List of reverse: ['SAMARTH', 'SWAMI', 'SHRI']
Remove the x ['Om', 'Shanti', 89]

**Function related to(Build-in)Tuple**

In [ ]:
# 1.len(tuple)
x = (1,2,4,"Hello")
y = ("Hi",6,7,8)

print("Len of x:",len(x))
print("Len of y:",len(y))


# 2.Max(tuple)
x = (2,3,5)
y = (100,8,9)

print("Max of x:",max(x))
print("Max of y:",max(y))


# 3.Min(tuple)
x = (2,3,5,6,7)
y = (7,8,9,0,3,4)

print("Min of x:",min(x))
print("Min of y:",min(y))


# 4.seg(tuple)
y = (4,5,2,1,9,3)

a = tuple(y)
print("Seg of tuple:",a)

Len of x: 4
Len of y: 4
Max of x: 5
Max of y: 100
Min of x: 2
Min of y: 0
Seg of tuple: (4, 5, 2, 1, 9, 3)

**Membership Test(in,not in) List**

In [ ]:
x = 4

my_list = [1,3,4,6]
print(x in my_list)

True

In [ ]:
x = 36

my_list = [30, 40, 50,60]
print(x not in my_list)

True

**Membership(in, not in) Tuples**

In [ ]:
x = (4,6,2)

print("5 is in x:", 5 in x)

5 is in x: False

In [ ]:
x = (9,5,6)

print("1 is not in x: ",1 not in x)

1 is not in x:  True

****

**Membership(in, not in) Set**

In [ ]:
x = {7, 8 , 9 ,0}
print({7} in x)

False

In [ ]:
x = {5,8,7,1,0}
print({10} not in x)

True

**Membership(in, not in) Dictionary**

In [ ]:
x1 = {"shinde","maheshwari","shivaji"}
x2 = {"surname","firstname","lastname"}

print("firstname" in x1)
print("lastname" not in x1)

False
True

**Indexing List**

In [ ]:
list = ["Hello","python"]
print(list.index("python"))

1

**Indexing Tuples**

In [ ]:
Tuple = ('m','a','u')

print(Tuple)

x = Tuple.index("a") #find index
print("Index a is:", x)

('m', 'a', 'u')
Index a is: 1

**Indexing Dictionary**

In [ ]:
dict = {}
dict["m"] = 1
dict["a"] = 9
dict["u"] = 3 
x = list(dict.items())
print(x[1])

('a', 9)

**Negative Indexing list**

In [ ]:
x = ["Python"]
print(x[-1])

Python

In [ ]:
y = "g","o", "o", "g", "l", "e"
print(y[-1])

e

**Negative Indexing Tuples**

In [ ]:
tuple = (1,8,9,3,2,4)

print(tuple[-2])

2

**Negative Indexing Set**

In [ ]:
x = (2,4,6,8,0)
print(x)
print(x[-1])

(2, 4, 6, 8, 0)
0

**Negative Indexing Dictionary**

In [ ]:
dict = "Name","Welcome", "command","Hello" ,"Name:Bye","Hi"
print(dict[-2])

Name:Bye

**Slicing List**

In [ ]:
list =[ 1,2,3,4,5,6,7,8,9]
print(list[:3]) #Display sliced list
print(list[3:9:2])
print(list[::])
print(list[3:9])

[1, 2, 3]
[4, 6, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 5, 6, 7, 8, 9]

**Slicing Tuples**

In [ ]:
tuple = (22,3,45,4,2.4,2,56,890,1)
print(tuple[1:4])
print(tuple[:2])
print(tuple[:])

(3, 45, 4)
(22, 3)
(22, 3, 45, 4, 2.4, 2, 56, 890, 1)

**Slicing Dictionary**

In [ ]:
d = {‘a’:1, ‘b’:2, ‘c’:3}
print(d['a'])

SyntaxError: ignored

**Iterating(for loop)List**

In [ ]:
list = [1,2,3,4,5]

#using for loop
for i in list:
  print(i)

1
2
3
4
5

**Iterating(for loop)Tuple**

In [ ]:
tuple = ("Hi","Python","Bye")

for x in tuple:
  print(x)

Hi
Python
Bye

**Iterating(for loop)Set**

In [ ]:
x_set = set("ABCDEF")
#using for loop
for val in x_set:
  print(val)

D
C
B
F
E
A

**Iterating(for loop)Dictionary**

In [ ]:
dict = {"Name":"Maheshwari", "Std":"TYBTECH","Div":"A"}
#print("Name")
for x in dict:
   print(x)

Name
Std
Div

**Accessing Nested list using slicing**

In [ ]:
x = [[1,2,3],[4,5,6],[7,8,9]]
print("original list")
print(x)
print()

print("from 1st position to 3rd position")
a = x[1:3]
print(a)
print()

original list
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

from 1st position to 3rd position
[[4, 5, 6], [7, 8, 9]]

**Accessing Nested Tuples using slicing**

In [ ]:
x = (1,2,3,4)
y = x,"B"
z = "A", y,"B","C"
print (x)
print(z)

(1, 2, 3, 4)
('A', ((1, 2, 3, 4), 'B'), 'B', 'C')

**Accessing Nested Dictionary Using Slicing**